@font-face {
  font-family: 'spartan';
  src: url("../fonts/Spartan/static/Spartan-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: 'spartan';
  src: url("../fonts/Spartan/static/Spartan-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: 'spartan';
  src: url("../fonts/Spartan/static/Spartan-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'spartan';
  src: url("../fonts/Spartan/static/Spartan-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'spartan';
  src: url("../fonts/Spartan/static/Spartan-Regular.ttf");
  font-weight: 400;
}

*,
*:before,
*:after {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #000;
}

html {
  font-size: 12px;
  height: 100%;
}

body {
  font-family: 'spartan', verdana, sans-serif;
  height: 100%;
}

h1 {
  font-size: 36px;
  margin-bottom: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: black;
  line-height: 20px;
  word-spacing: 1px;
  font-size: 12px;
}

.hidden {
  display: none;
}

.container.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 70% 1fr;
  height: 100vh;
}

.splash {
  grid-column-start: 1;
  grid-column-end: 15;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top right;
}

.splash nav {
  position: absolute;
  top: 50px;
  left: 50px;
  text-transform: lowercase;
}

.splash nav ul {
  display: flex;
}

.splash nav ul li {
  font-size: 14px;
  margin: 0 0.8rem;
  color: #fff;
  position: relative;
}

.splash nav ul li:not(:first-of-type):after {
  content: "";
  background-color: #fff;
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translatex(-50%);
}

.splash nav ul li:hover:after {
  width: 10px;
  transition: width 0.5s;
}

main {
  grid-column-start: 15;
  grid-column-end: 25;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto 80px;
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 4.4rem 0 4.4rem;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 11;
}

.controls {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #000;
  margin: 0;
  display: flex;
}

.controls .control {
  color: #fff;
  width: 50%;
  height: 100%;
  position: relative;
}

.controls .control:hover {
  background-color: #454545;
}

.controls .control i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.shopnow-button {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-top: 4rem;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.shopnow-button span {
  font-size: 24px;
  margin-left: 20px;
  transition: margin 0.5s;
}

.shopnow-button:hover span {
  margin-left: 30px;
}

.img-left {
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top right;
  background-image: url(../images/image-about-dark.jpg);
}

.img-right {
  grid-column-start: 18;
  grid-column-end: 25;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top right;
  background-image: url(../images/image-about-light.jpg);
}

.about {
  grid-column-start: 7;
  grid-column-end: 18;
  padding: 3rem 2.8rem 3rem 2.8rem;
}

.about p {
  margin-top: 1rem;
}
